/* This stylesheet is for the various pages */

/*
=====================================
  index page styling below
======================================
 */


 /* styling the carousel section with a background image*/
 .index-carousel {
   background-image: url("../image/crowdhand.jpg");
   background-attachment: fixed;
   background-size: cover;
   height: 35rem;
   background-position: center;
 }

 .carouselheader {
   margin-left: 30px;
   text-shadow: 1px 1px 1px #fff;
 }
 h1.carouselheader{
    padding-top: 50px;
    font-size: 80px;
 }

 h3.carouselheader {
    margin-bottom: 50px;
   font-size: 40px;
 }

 /* Donate section starts */

 .donate-container{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 15px;
 }

 .donate-item{
   display: inline-block;
   margin: 18px;
 }

 .donate-item h3{
   margin-bottom: 40px;
  font-size: 35px;
 }

 .donate-message{
  font-size: 1.3rem;
 }

 /* .donate-item a {
   padding: 10px;
   background-color: gray;
   color: #000;
   text-decoration: none;
 }
 */

 .fund-img {
   height: 400px;
   width: 500px;
   border-radius: 10px;
 }

  /* Donate section ends  */

  /* worship section starts  */

  .worship-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
  }

  .worship-item{
    display: inline-block;
    margin: 18px;
  }

  .worship-item h3{
    margin-bottom: 40px;
   font-size: 40px;
  }

  .worship-message{
   font-size: 1.3rem;
  }
 /*
  .worship-item a {
    padding: 10px;
    background-color: gray;
    color: #000;
    text-decoration: none;
  }
  */

  .worship-img {
    height: 400px;
    width: 500px;
    border-radius: 10px;
  }

  /* worship section ends  */

/*
=========================================
  event page styling below
=========================================
*/


.event-header {
  background-image: url("../image/Church.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 13rem;
  background-position: center;
}

.event-header h3{
  text-align: center;
  font-size: 2.9rem;
  text-transform: capitalize;
  margin: 1.9rem;
}

.event-header p{
  text-align: center;
  font-size: 1.9rem;
  text-transform: capitalize;
  margin: 1.9rem;
  color: #fff;
}
 /* styling event cards below */

  .event-container .event-items {
   display: inline-grid;
   justify-content: space-between;
   align-items: center;
   padding: 2rem;*/
 }

 .event-items h2 {
   text-align: center;
   padding: 1rem;
   font-weight: bolder;
   text-transform: uppercase;
   text-shadow: 1px 1px gold;
 }
 /* .event-item{
   display: flex;
   align-items: center;
   /* background: var(--black); */
   flex-wrap: wrap;
 }
 */


 .event-items .event-card h3{
   font-size: 3rem;
   color: #555;
 }
/* .event-card p{
   font-size: 1.6rem;
   color: #555;
   padding: 1rem 0;
   line-height: 1.8;
 }
 */

/*
=========================================
  Sermon page styling below
=========================================
*/


.Sermon-carousel{
  margin-top: 1.5rem;
  height: 13rem;
  background-image: url("../image/church.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.Sermon-carousel h1{
  text-align: center;
  font-size: 2.9rem;
  text-transform: uppercase;
  margin: 1.9rem;
}

.Sermon-carousel p{
  text-align: center;
  font-size: 1.9rem;
  text-transform: capitalize;
  margin: 1.9rem;
  /* color: #fff; */

}

.all-Sermon{
  display: flex;
  justify-content:  space-evenly;
  align-items: center;
  /* margin: 1rem 5rem; */
  /* background-image: url('image/cross-copy.jpg'); */
  /* background-size: cover; */
  /* background-attachment: fixed; */
  /* color: #ecb540; */
    gap: 30px;
}


.all-Sermon::before{
  content: '';
  position: absolute;
  /* left: 0; */
  /* top: 0; */
  width: 100%;
  height: 1200px;
  padding: 19px 100px;
  background: url('../image/cross-copy.jpg') no-repeat center;
  background-attachment: fixed;
  /* background: rgba(0, 0, 0, 0.5); */
  background-size: cover;
  z-index: -1;
  filter: blur(4px);
}


.latest-container, .upcoming-container{
  /* padding: 1rem 6rem; */
  margin: 1rem 5rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fdb54f;
}

.audio-container{
  background-color: ;
  margin-left: 40px;
  /* width: 300px; */
  height: 170px;
  border-bottom: 4px solid #111;
}
.audio-container h3{
 margin-left: 10px;
}

.audio-container p{
 /* margin-left: 10px; */
}



/*
=========================================
  contact page styling below
=========================================
*/


.contact-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: 100vh;
  padding: 19px 100px;
}

.contact-box{
  padding: 25px 40px;
}

.contact-box h2{
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.contact-box .field{
  width: 55vw;
  padding: 0.5rem 1rem;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0);
  background-color: rgba(230, 230, 230, 0.6);
  font-size: 1.1rem;
  /* margin-right: 20px; */
  margin-bottom: 22px;
  transition: .3s;
}

.contact-box .field:hover{
  background-color: rgba(0, 0, 0, 0.1);
}

.contact-box .field:focus{
  background-color: #fff;
  border: 2px solid rgba(30, 85, 250, 0.47);
}

=========================================
  about page styling below
=========================================
*/
#about-content {
  background-color: #347;
}

.about-content h3{
  text-align: center;
  font-size: 2.9rem;
  text-transform: uppercase;
  margin: 1.9rem;
}

.about-content p{
  /* text-align: center; */
  font-size: 1.9rem;
  /* text-transform: capitalize; */
  margin: 1.9rem;
  color: #fff;
}

/* styling the about-header section */

.about-header {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(../image/natural_1.jpg) no-repeat;
  background-size: cover;
}

.about-header .about-carouselheader {
  max-width: 60rem;
}

.about-header .about-carouselheader h1{
  font-size: 6rem;
  text-transform: uppercase;
}

.about-header .about-carouselheader h2{
  font-size: 2rem;
  font-weight: lighter;
  line-height: 1.8;
  padding: 1rem 0;
  color: #eee;
}
/* styling the about-content section */

#about-content {
  background-color: #347;
  margin: 0;

}

.about-content h3{
  text-align: center;
  font-size: 2.9rem;
  text-transform: uppercase;
  margin: 1.9rem;
}

.about-content p{
  /* text-align: center; */
  font-size: 1.9rem;
  /* text-transform: capitalize; */
  margin: 1.9rem;
  color: #fff;
}

/* styling the pastor section */
.pastor-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

 .pastor-card {
   display: inline-inline-block;
   float: left;
  width: 100px;
  height: 150px;
  margin: 10px;
  padding: 2px;
}

 .pastor-section h2{
  text-align: center;
  font-size: 2.9rem;
  text-transform: uppercase;
  margin: 1.9rem;
  color: gold;
}

.pastor-card img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.pastor-card:hover{
 background-color: #faa0f1;
}
/* map styling */
.location{
  margin: 3rem;
  padding: .5re 3rem;
}
.location h2{
  text-align: center;
  font-size: 3rem;
  color: gold;
}
