/* This stylesheet is for navbars, footer, and buttons */

/*
====================================
styling navbar
====================================
 */
 nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0;
   position: fixed;
   top: -1px;
   left: 0;
   right: 0;
   background-color: rgba(0, 0, 0, 0.8);
 }

 .site-title {
   color: gold;
   font-size: .8rem;
 }

 .nav__links li {
   display: inline-block;
 }

 .nav__links li a {
   text-decoration: none;
   padding: 10px;
   text-transform: uppercase;
   font-size: .7rem;
   color: #fff;
   margin: 0 20px;
 }

 .nav__links li a:hover {
   border-radius: 50px;
   background-color: #04aa6d;
   padding: 10px;
   transition: all 0.1s ease;
 }

 .nav__links a.active {
   background-color: #04aa6d;
   border-radius: 50px;
 }

 /*
 ====================================
 styling botton and background div
 ====================================
  */

 .btn{
   width: 150px;
   background-image: linear-gradient(#fff, #b058ef, #b058ef);
   /* background-color: #b058ef; */
   text-transform: capitalize;
   border-radius: 25px;
   text-align: center;
   /* margin: 30px; */
   /* border-radius: 5px; */
   color: #fff;
   padding: 15px 30px;
   text-decoration: none;

 }
 .btn:hover{
   /* background-color: gold; */
  background-color: rgba(0, 0, 0, .5);
   color: #000;
   transition: 0.9s ease;
 }
   /*
 .background {
   width: 100vw;
   height: 100vh;
 background-image: url("../image/groupreading.jpg");
 background-size: cover;
 background-attachment: fixed;
 }
 */

 /*
 ====================================
 styling footer
 ====================================
  */

 footer {
   height: 26.5rem;
   margin: 30px;
   /* background-color: #03a094 !important; */
   /* background-color: purple; */
 }

 /* footer grid styling below */

 .grid-container{
   display: flex;
   justify-content: space-between;
   grid-gap: -30px;
   align-items: center;
   margin: 30px;
 }

 .grid-item{
 display: inline-block;
 font-size: 1.5rem;
 text-align: center;
 padding: 10px;
 }

 footer h5{
   text-align: center;
   margin: 2px;
 }

 footer li {
   list-style: none;
   padding: 6px;
 }

 footer li:hover {
   border: 3px solid #c05f4e;
   border-radius: 10px;
   padding: 4px;
   transition: .3s ease;
 }

 footer a {
   text-decoration: none;
   text-transform: capitalize;
   font-size: 1rem;
 }

 .newsletter {
   width: 150px;
   height: 30px;
   border-radius: 10px;
   transition: .8s ease-in-out;
 }

 .news-btn {
   height: 25px;
   background-color: #c05f4e;
   color: #fff;
   padding: 5px;
   margin: 5px;
   border-radius: 5px;
 }

 footer i {
   margin: 10px;
   font-size: 1.9rem;
 }
